<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Category Version Check</string>
		<key>params</key>
		<dict>
			<key>categoryVersion</key>
			<string>0</string>
			<key>deviceType</key>
			<string>STB</string>
			<key>language</key>
			<string>EN</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/categoryversioncheck</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Category(ROOT)</string>
		<key>params</key>
		<dict>
			<key>categoryId</key>
			<string>0</string>
			<key>deviceType</key>
			<string>STB</string>
			<key>language</key>
			<string>EN</string>
			<key>said</key>
			<string>TV10001001</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Array</string>
		<key>url</key>
		<string>http://222.122.207.37/service/category</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Category(HOME)</string>
		<key>params</key>
		<dict>
			<key>categoryId</key>
			<string>10</string>
			<key>deviceType</key>
			<string>STB</string>
			<key>language</key>
			<string>EN</string>
			<key>said</key>
			<string>TV10001001</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Array</string>
		<key>url</key>
		<string>http://222.122.207.37/service/category</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Category(Overall)</string>
		<key>params</key>
		<dict>
			<key>categoryId</key>
			<string>999</string>
			<key>deviceType</key>
			<string>STB</string>
			<key>language</key>
			<string>EN</string>
			<key>said</key>
			<string>TV10001001</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Array</string>
		<key>url</key>
		<string>http://222.122.207.37/service/category</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Content List (Recently Watching)</string>
		<key>params</key>
		<dict>
			<key>categoryID</key>
			<string>1000</string>
			<key>contentCnt</key>
			<integer>20</integer>
			<key>deviceType</key>
			<string>STB</string>
			<key>language</key>
			<string>EN</string>
			<key>profileId</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
			<key>startNo</key>
			<integer>0</integer>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/contentlist</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>VOD Detail</string>
		<key>params</key>
		<dict>
			<key>contentId</key>
			<string>contentId</string>
			<key>deviceType</key>
			<string>STB</string>
			<key>language</key>
			<string>EN</string>
			<key>profileId</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/voddetail</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Banner</string>
		<key>params</key>
		<dict>
			<key>categoryID</key>
			<string>categoryID</string>
			<key>deviceType</key>
			<string>STB</string>
			<key>language</key>
			<string>EN</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/banner</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Recent Watching</string>
		<key>params</key>
		<dict>
			<key>contentCnt</key>
			<integer>20</integer>
			<key>language</key>
			<string>EN</string>
			<key>profileID</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/recentwatchinglist</string>
	</dict>
	<dict>
		<key>method</key>
		<string>post</string>
		<key>name</key>
		<string>Set Watching Info</string>
		<key>params</key>
		<dict>
			<key>channelID</key>
			<string>1</string>
			<key>deviceType</key>
			<string>1</string>
			<key>entTime</key>
			<string>1</string>
			<key>profileID</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>returnCode</string>
		<key>top_element_type</key>
		<string>String</string>
		<key>url</key>
		<string>http://222.122.207.37/service/watchinginfo</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Series List</string>
		<key>params</key>
		<dict>
			<key>contentId</key>
			<string>contentId</string>
			<key>language</key>
			<string>EN</string>
			<key>profileId</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/serieslist</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Season List</string>
		<key>params</key>
		<dict>
			<key>language</key>
			<string>EN</string>
			<key>masterSeriesAssetID</key>
			<string>masterSeriesAssetID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/seasonlist</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Package List</string>
		<key>params</key>
		<dict>
			<key>language</key>
			<string>EN</string>
			<key>offerAsset</key>
			<string>offerAsset</string>
			<key>profileId</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/packagelist</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Channel List</string>
		<key>params</key>
		<dict>
			<key>language</key>
			<string>EN</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/channellist</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>EPG</string>
		<key>params</key>
		<dict>
			<key>channelid</key>
			<string>channelid</string>
			<key>endTime</key>
			<string>endTime</string>
			<key>language</key>
			<string>EN</string>
			<key>said</key>
			<string>TV10001001</string>
			<key>startTime</key>
			<string>startTime</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/epg</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Get Favorite Channel</string>
		<key>params</key>
		<dict>
			<key>language</key>
			<string>EN</string>
			<key>profileId</key>
			<string>profileId</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/favoritechannel</string>
	</dict>
	<dict>
		<key>method</key>
		<string>put</string>
		<key>name</key>
		<string>Set Favorite Channel</string>
		<key>params</key>
		<dict>
			<key>profileId</key>
			<string>profileId</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>returnCode</string>
		<key>top_element_type</key>
		<string>String</string>
		<key>url</key>
		<string>http://222.122.207.37/service/favoritechannel</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Get Blocked Channel</string>
		<key>params</key>
		<dict>
			<key>language</key>
			<string>EN</string>
			<key>profileId</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/blockedchannel</string>
	</dict>
	<dict>
		<key>method</key>
		<string>put</string>
		<key>name</key>
		<string>Set Blocked Channel</string>
		<key>params</key>
		<dict>
			<key>language</key>
			<string>EN</string>
			<key>list</key>
			<string>["string"]</string>
			<key>profileId</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>returnCode</string>
		<key>top_element_type</key>
		<string>String</string>
		<key>url</key>
		<string>http://222.122.207.37/service/blockedchannel</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Get Resume Time</string>
		<key>params</key>
		<dict>
			<key>contentID</key>
			<string>contentID</string>
			<key>profileId</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/resumetime</string>
	</dict>
	<dict>
		<key>method</key>
		<string>put</string>
		<key>name</key>
		<string>Set Resume Time</string>
		<key>params</key>
		<dict>
			<key>contentId</key>
			<string>www.KBS.com/ContentGroupAsset/20191115_338845</string>
			<key>profileId</key>
			<string>testuser</string>
			<key>resumeTime</key>
			<string>1:12:00</string>
			<key>said</key>
			<string>TV21977777777</string>
		</dict>
		<key>top_element</key>
		<string>returnCode</string>
		<key>top_element_type</key>
		<string>String</string>
		<key>url</key>
		<string>http://222.122.207.37/service/resumetime</string>
	</dict>
	<dict>
		<key>method</key>
		<string>post</string>
		<key>name</key>
		<string>Set Resume Time</string>
		<key>params</key>
		<dict>
			<key>contentId</key>
			<string>www.KBS.com/ContentGroupAsset/20191115_338845</string>
			<key>profileId</key>
			<string>testuser</string>
			<key>resumeTime</key>
			<string>1:12:00</string>
			<key>said</key>
			<string>TV21977777777</string>
		</dict>
		<key>top_element</key>
		<string>returnCode</string>
		<key>top_element_type</key>
		<string>String</string>
		<key>url</key>
		<string>http://222.122.207.37/service/resumetime</string>
	</dict>
	<dict>
		<key>method</key>
		<string>delete</string>
		<key>name</key>
		<string>Delete Profile</string>
		<key>params</key>
		<dict>
			<key>profileID</key>
			<string>profileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>returnCode</string>
		<key>top_element_type</key>
		<string>String</string>
		<key>url</key>
		<string>http://222.122.207.37/service/profile</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Get Profile</string>
		<key>params</key>
		<dict>
			<key>profileID</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/profile</string>
	</dict>
	<dict>
		<key>method</key>
		<string>post</string>
		<key>name</key>
		<string>Set Profile</string>
		<key>params</key>
		<dict>
			<key>email</key>
			<string>test@test.com</string>
			<key>password</key>
			<string>password</string>
			<key>privateSetting</key>
			<string>privateSetting</string>
			<key>profileID</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>returnCode</string>
		<key>top_element_type</key>
		<string>String</string>
		<key>url</key>
		<string>http://222.122.207.37/service/profile</string>
	</dict>
	<dict>
		<key>method</key>
		<string>put</string>
		<key>name</key>
		<string>Set Profile</string>
		<key>params</key>
		<dict>
			<key>email</key>
			<string>test@test.com</string>
			<key>password</key>
			<string>password</string>
			<key>privateSetting</key>
			<string>privateSetting</string>
			<key>profileID</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>returnCode</string>
		<key>top_element_type</key>
		<string>String</string>
		<key>url</key>
		<string>http://222.122.207.37/service/profile</string>
	</dict>
	<dict>
		<key>method</key>
		<string>put</string>
		<key>name</key>
		<string>Change Password</string>
		<key>params</key>
		<dict>
			<key>newPassword</key>
			<string>newPassword</string>
			<key>password</key>
			<string>password</string>
			<key>profileID</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>returnCode</string>
		<key>top_element_type</key>
		<string>String</string>
		<key>url</key>
		<string>http://222.122.207.37/service/changepassword</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Get Vod Like</string>
		<key>params</key>
		<dict>
			<key>language</key>
			<string>EN</string>
			<key>profileID</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/vodlike</string>
	</dict>
	<dict>
		<key>method</key>
		<string>put</string>
		<key>name</key>
		<string>Set Vod Like</string>
		<key>params</key>
		<dict>
			<key>contentID</key>
			<string>contentID</string>
			<key>isLike</key>
			<string>isLike</string>
			<key>language</key>
			<string>EN</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>returnCode</string>
		<key>top_element_type</key>
		<string>String</string>
		<key>url</key>
		<string>http://222.122.207.37/service/vodlike</string>
	</dict>
	<dict>
		<key>method</key>
		<string>put</string>
		<key>name</key>
		<string>Set Purchase List Hidden</string>
		<key>params</key>
		<dict>
			<key>productID</key>
			<string>productID</string>
			<key>profileID</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>returnCode</string>
		<key>top_element_type</key>
		<string>String</string>
		<key>url</key>
		<string>http://222.122.207.37/service/purchaselisthidden</string>
	</dict>
	<dict>
		<key>method</key>
		<string>put</string>
		<key>name</key>
		<string>Change Pin Code</string>
		<key>params</key>
		<dict>
			<key>currentPinCode</key>
			<string>currentPinCode</string>
			<key>newPinCode</key>
			<string>newPinCode</string>
			<key>profileID</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>returnCode</string>
		<key>top_element_type</key>
		<string>String</string>
		<key>url</key>
		<string>http://222.122.207.37/service/changepincode</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Get Pin Code</string>
		<key>params</key>
		<dict>
			<key>currentPinCode</key>
			<string>currentPinCode</string>
			<key>profileID</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/checkpincode</string>
	</dict>
	<dict>
		<key>method</key>
		<string>post</string>
		<key>name</key>
		<string>Reset Pin Code</string>
		<key>params</key>
		<dict>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>returnCode</string>
		<key>top_element_type</key>
		<string>String</string>
		<key>url</key>
		<string>http://222.122.207.37/service/resetpincode</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Message List</string>
		<key>params</key>
		<dict>
			<key>language</key>
			<string>EN</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/messagelist</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Message Detail</string>
		<key>params</key>
		<dict>
			<key>language</key>
			<string>EN</string>
			<key>messageId</key>
			<string>messageId</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/messagedetail</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Purchase List</string>
		<key>params</key>
		<dict>
			<key>language</key>
			<string>EN</string>
			<key>profileId</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/purchaseList</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Collection List</string>
		<key>params</key>
		<dict>
			<key>language</key>
			<string>EN</string>
			<key>profileId</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/CollectionList</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Subscription List</string>
		<key>params</key>
		<dict>
			<key>language</key>
			<string>EN</string>
			<key>profileId</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/SubscriptionList</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Subscription Channel List</string>
		<key>params</key>
		<dict>
			<key>language</key>
			<string>EN</string>
			<key>profileId</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/subscribedchannellist</string>
	</dict>
	<dict>
		<key>method</key>
		<string>put</string>
		<key>name</key>
		<string>Set Collection List Hidden</string>
		<key>params</key>
		<dict>
			<key>language</key>
			<string>EN</string>
			<key>profileId</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>returnCode</string>
		<key>top_element_type</key>
		<string>String</string>
		<key>url</key>
		<string>http://222.122.207.37/service/CollectionListHidden</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Provisioning</string>
		<key>params</key>
		<dict>
			<key>id</key>
			<string>id</string>
			<key>language</key>
			<string>EN</string>
			<key>profileId</key>
			<string>ProfileID</string>
			<key>said</key>
			<string>TV10001001</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.37/service/provisioning</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Total Search</string>
		<key>params</key>
		<dict>
			<key>STB_VER</key>
			<string>0.5</string>
			<key>adult_yn</key>
			<string>true</string>
			<key>appID</key>
			<string>UHDII</string>
			<key>areaCode</key>
			<string>302002</string>
			<key>contents_type</key>
			<string>0xF</string>
			<key>detail</key>
			<string>Y</string>
			<key>exposure_time</key>
			<string></string>
			<key>product_id</key>
			<string>2P01%2C2P36%2C2P38%2C2PF8%2C2P05</string>
			<key>sa_id</key>
			<string>HE061101076</string>
			<key>searchCount</key>
			<string>10</string>
			<key>searchField</key>
			<string></string>
			<key>searchOpt</key>
			<string></string>
			<key>searchPosition</key>
			<string>0</string>
			<key>searchWord</key>
			<string>car</string>
			<key>sortFields</key>
			<string></string>
			<key>sortType</key>
			<string>1</string>
			<key>srchCount</key>
			<string>0</string>
			<key>won_yn</key>
			<string></string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.44:8080/wasTotalSearch/TotalSearch</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Auto Complete</string>
		<key>params</key>
		<dict>
			<key>STB_VER</key>
			<string>3.1</string>
			<key>adult_yn</key>
			<string>null</string>
			<key>appID</key>
			<string>STB</string>
			<key>cate</key>
			<string></string>
			<key>contents_type</key>
			<string>null</string>
			<key>product_id</key>
			<string>2P01</string>
			<key>sa_id</key>
			<string>HE061101076</string>
			<key>stbType</key>
			<string>0xFF</string>
			<key>uquery</key>
			<string>car</string>
		</dict>
		<key>top_element</key>
		<string>ACWORD_ITEM</string>
		<key>top_element_type</key>
		<string>Array</string>
		<key>url</key>
		<string>http://222.122.207.44:8080/wasTotalSearch/AutoComplete</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Curation</string>
		<key>params</key>
		<dict>
			<key>CAT_ID</key>
			<string>4228</string>
			<key>CAT_TYPE</key>
			<string>null</string>
			<key>CONS_ID</key>
			<string>10000000000000015422</string>
			<key>CONS_RATE</key>
			<string>N</string>
			<key>CONTENT</key>
			<string>VOD</string>
			<key>ITEM_MAX_CNT</key>
			<string>10</string>
			<key>ITEM_MIN_CNT</key>
			<string>1</string>
			<key>MENU_MAX_CNT</key>
			<string>10</string>
			<key>MENU_MIN_CNT</key>
			<string>1</string>
			<key>PRODUCT_LIST</key>
			<string>2T01</string>
			<key>REC_GB_CODE</key>
			<string></string>
			<key>REC_TYPE</key>
			<string>CURATION</string>
			<key>REQ_CODE</key>
			<string>H</string>
			<key>REQ_DATE</key>
			<string>20121225012345</string>
			<key>STB_VER</key>
			<string>1.2</string>
			<key>STB_mode</key>
			<string>kids</string>
			<key>SU_ID</key>
			<string></string>
			<key>SVC_CODE</key>
			<string>OTV</string>
			<key>USER_ID</key>
			<string>11000154230</string>
			<key>denType</key>
			<string></string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.46:8080/wasRecommend/Curation</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Recommend</string>
		<key>params</key>
		<dict>
			<key>CAT_ID</key>
			<string>4228</string>
			<key>CAT_TYPE</key>
			<string>null</string>
			<key>CONS_ID</key>
			<string>M85CB8SWSGL080002700</string>
			<key>CONS_RATE</key>
			<string>N</string>
			<key>CONTENT</key>
			<string>VOD</string>
			<key>ITEM_CNT</key>
			<string>10</string>
			<key>ITEM_MAX_CNT</key>
			<string>10</string>
			<key>ITEM_MIN_CNT</key>
			<string>4</string>
			<key>MENU_MAX_CNT</key>
			<string>10</string>
			<key>MENU_MIN_CNT</key>
			<string>4</string>
			<key>PRODUCT_LIST</key>
			<string>2T01</string>
			<key>REC_GB_CODE</key>
			<string>M</string>
			<key>REC_TYPE</key>
			<string>ITEM_VOD</string>
			<key>REQ_CODE</key>
			<string>H</string>
			<key>REQ_DATE</key>
			<string>20121225012345</string>
			<key>STB_VER</key>
			<string></string>
			<key>SU_ID</key>
			<string></string>
			<key>SVC_CODE</key>
			<string>OTV</string>
			<key>USER_ID</key>
			<string>TEST1</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.46:8080/wasRecommend/Recomm</string>
	</dict>
	<dict>
		<key>method</key>
		<string>get</string>
		<key>name</key>
		<string>Top Content</string>
		<key>params</key>
		<dict>
			<key>CONS_RATE</key>
			<string>N</string>
			<key>CONTENT</key>
			<string>VOD</string>
			<key>HDR_FILTER</key>
			<string>N</string>
			<key>ITEM_CNT</key>
			<string>10</string>
			<key>PRODUCT_LIST</key>
			<string>2T01</string>
			<key>REC_TYPE</key>
			<string>TOP_MOVIE</string>
			<key>REQ_CODE</key>
			<string>H</string>
			<key>REQ_DATE</key>
			<string>20121225012345</string>
			<key>STB_VER</key>
			<string>1.0</string>
			<key>SU_ID</key>
			<string>SU_ID</string>
			<key>SVC_CODE</key>
			<string>OTV</string>
			<key>USER_ID</key>
			<string>11000154230</string>
		</dict>
		<key>top_element</key>
		<string>data</string>
		<key>top_element_type</key>
		<string>Dictionary</string>
		<key>url</key>
		<string>http://222.122.207.46:8080/wasRecommend/topcontent</string>
	</dict>
</array>
</plist>
